.box {
    width: 200px; 
    height: 500px;
    background-color: #b6038c;
    padding: 20px;
    display:flex; 
    flex-direction: column;
    gap: 5px;
  }
/*   
  .sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #2196f3;
    color: white;
    font-size: 16px;
    cursor: pointer;
  } */
  
  .sidebar button:hover {
    background-color: #0b7dda;
  }
  