

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: beige;
  }
  
  .loginname {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginusuario {
    margin-bottom: 20px;
    text-align: center;
  }
  

  .logincontraseña {
    width: 100%;
    padding: 8px;
    
   
  }
  
  .buttonLogin{
    width:fit-content;
    padding: 10px;
    background-color: #227ad7;
    color: white;
    border:solid 5px;
    border-radius: 50px;
    cursor: pointer;
 
  }
  
  .buttonLogin:hover {
    background-color: #8fa4bb;
  }