.mostrarDatos2 {
  overflow-x: auto; /* Agrega barra de desplazamiento horizontal si es necesario */
  overflow-y: auto; /*Agrega barra de desplazamiento vertical si es necesario*/
  margin-right: 2%;
}

th {
  font-weight: normal;
  width: fit-content;
  border: solid white 1px;
  border-radius: 15%;
}

.seccion_datos {
  border: solid 2px black;
  padding: 0;
  overflow-x: auto;
  /* overflow-y: auto; */ 
  max-height: 500px;
}

.tabla_datos {
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #95d1cc;
  padding: 0;
}

.tablaDatos td {
  text-align: left;
  border: 1px solid black;
  font-weight: normal;
  font-family: cursive;
}

.tablaDatos {
  width: 100%;
}

.tablaHead th {
  background-color: #5584ac;
  padding: 0.5%;
  padding-right: 0;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-family: cursive;
  font-weight: normal;
  width: max-content;
}

tbody tr {
  cursor: pointer;
  background-color: cornflowerblue;
  width: fit-content;
  font-family: cursive;
  font-weight: normal;
}

tbody tr:hover {
   background: rgb(219, 245, 180); 
  color: black;
}

tbody tr:active {
  background-color: aqua;
}

/* .selected{
    background-color: yellow;
} */

#celdaNombre,
#celdaApellido,
#celdaApellido2,
#celdaEmail,
#celdaTelefono,
#celdaBtnEditar,
#celdaBtnEliminar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  margin: 0;
}

th,
td {
  width: 1%; 
}

@media screen and (max-width: 430px) {
  .mostrarDatos2{
    background-color:purple;
    width:275px;
    /* height:200px; */
    overflow-y:hidden;
    margin-bottom:50px;
    
  }
  .seccion_datos {
    border: solid 2px black;
    padding: 0;
    overflow-x: auto; 
   /* overflow-y: auto; */
    
  }
}





